@model ColmanAppStore.Models.Category

@{
    ViewData["Title"] = "Category create";
}
<br />
<h1 id="PageHeader">Sorry, you can't create a new category in our site</h1>

<div>
    <br />
    <a asp-action="Index">Back to all categories</a>
</div>

