@model ColmanAppStore.Models.Category

@{
    ViewData["Title"] = "Delete " + Model.Name;
}
<br />
<h1 id="PageHeader">Sorry, you can't delete a category</h1>

<div>
    <br />
    <a asp-action="Index">Back to all categories</a>
</div>


