@model ColmanAppStore.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name Apps</h1>


@if (Model.Apps != null)
{
    <div class="container px-3">
        <div class="row justify-content-between">
           
            @foreach (var item in Model.Apps)
            {
                <div class="card col-3" style="width: 18rem;">
                    
                    @*<img src=@item.Logo.Image class="card-img-top" alt="...">*@
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <a href="/Categories/Details/@item.Id" class="btn btn-primary">More info</a>
                    </div>
                </div>
            }

        </div>
    </div>
}
else
{
    <h3>no apps in this category</h3>
}