@model IEnumerable<ColmanAppStore.Models.Category>

@{
    ViewData["Title"] = "All categories";
    <link rel="stylesheet" href="~/css/categoryStyle.css" />
}

<div class="row">
    <div class="col-9">
        <h1 id="CategoryHeader">All Categories</h1>
    </div>
   
    <div class="col-3">
        <form id="searchprice" asp-action="SearchByPrice" asp-controller="Categories" class="d-flex">
            <input id="font" name="query" type="search" class="form-control" placeholder="Search by price" aria-label="Search" aria-describedby="search-addon" autocomplete="off" />
            <div id="slider-range"></div>
        </form>
    </div>
   
</div>

<div class="container px-3" id="LayoutBG">
    <div class="row g-2 justify-content-center">
        @foreach (var item in Model)
        {
            <div class="card col-3" id="CardStyle">
                <div class="card-body">
                    <h4 class="card-title" id="CardHeader">@item.Name</h4>
                    <img src="~/LogoImage/@item.Name.ToString()Logo.jpg" class="card-img-top" alt="can't load image" id="CardImg">

                    <a href="/Categories/Details/@item.Id" class="btn btn-info stretched-link" id="CardBtn">Go to apps</a>
                </div>
            </div>
        }
    </div>
</div>
