@model IEnumerable<ColmanAppStore.Models.Category>

@{
    ViewData["Title"] = "All categories";
    <link rel="stylesheet" href="~/css/categoryStyle.css" />
}

<h1 id="CategoryHeader">All Categories</h1>

<div class="container px-3" id="LayoutBG">
    <div class="row g-2 justify-content-center">
        @foreach (var item in Model)
        {
            <div class="card col-3" id="CardStyle">
                <div class="card-body">
                    <h4 class="card-title" id="CardHeader">@item.Name</h4>
                    <img src="~/LogoImage/@item.Name.ToString()Logo.jpg" class="card-img-top" alt="can't load image" id="CardImg">

                    <a href="/Categories/Details/@item.Id" class="btn btn-info stretched-link" id="CardBtn">Go to apps</a>
                </div>
            </div>
        }
    </div>
</div>
