@model IEnumerable<ColmanAppStore.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>All Categories</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container px-3">
    <div class="row justify-content-between">
        @foreach (var item in Model)
        {
            <div class="card col-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <a href="/Categories/Details/@item.Id" class="btn btn-primary">Go to apps</a>
                </div>
            </div>
        }
    </div>
</div>
