<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ColmanAppStore</title>

    <link rel="stylesheet" href="/css/Layout.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/js/site.js" />

</head>

<body>

    <header id="header">
        <div class="header container-fluid">
            <div class="d-flex justify-content-between">
                <div class="row header__row align-items-center">
                    <div class="col-sm-2 " style="text-align:center">
                        <a class="logoStyle" asp-action="HomePage" asp-controller="Apps">
                            <img class="logo" src="~/LogoImage/ColmanAppStoreLogo.jpg" alt="logo" style="max-width: 40%;margin:auto;" />


                        </a>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group rounded justify-content-center">
                            <form asp-action="Search" asp-controller="Apps" class="d-flex">
                                <input id="font" name="query" type="search" class="form-control" placeholder="Search " aria-label="Search" aria-describedby="search-addon" autocomplete="off" />
                                <div id="slider-range"></div>
                                <button type="submit" class="btn btn-primary btn_search">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" class="bi bi-search" viewBox="0 0 18 18">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>

                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="col-sm-2  header d-flex justify-content-center" id="darkBtnStyle">
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

                        <meta charset="UTF-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">

                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox" />
                                <div class="slider round"></div>
                            </label>
                            <label id="labelMode">Select Mode</label>
                        </div>
                    </div>

                    <div class="col-sm-2 header d-flex justify-content-center">

                        @if (Context.User.Identity != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)
                        {
                            <div class="dropdown">
                                <button id="font" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Hello @User.Identity.Name!

                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a id="font" asp-action="Account" asp-controller="Users" asp-route-id="@User.Identity.Name">My Account</a></li>
                                    @if (User.IsInRole("Admin") || User.IsInRole("Programer"))
                                    {
                                        <a id="font" asp-action="Create" asp-controller="Apps">Create an App</a>
                                    }
                                    <li><a id="font" asp-action="Logout" asp-controller="Users">Logout</a></li>

                                </ul>
                            </div>
                        }
                        else
                        {
                            <a id="font" asp-action="Login" asp-controller="Users" class="btn btn-primary btn_login">Login</a>
                            <a id="font" asp-action="Register" asp-controller="Users" class="btn btn-primary btn_signup"> SignUp</a>
                        }

                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="d-flex ">
            <div class="row">
                <aside class="col-sm-2 col-navbar" id="navBarStyle">

                    <div class="d-flex align-items-stretch">
                        <link rel="preconnect" href="https://fonts.gstatic.com">
                        <link href="https://fonts.googleapis.com/css2?family=Days+One&family=Indie+Flower&family=Nunito:wght@700;800&display=swap" rel="stylesheet">

                        <nav class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                            <a id="col-btn" class="btn btn-primary " asp-action="HomePage" asp-controller="Apps">Home</a>

                            <a class="btn_categories" asp-action="index" asp-controller="Categories"><h2 id="font" class="dropdown-header align-self-center">Categories</h2></a>
                            <a id="col-btn" class="btn btn-primary" asp-action="details" asp-controller="Categories" asp-route-id="4">News</a>
                            <a id="col-btn" class="btn btn-primary" asp-action="details" asp-controller="Categories" asp-route-id="3">Social</a>
                            <a id="col-btn" class="btn btn-primary" asp-action="details" asp-controller="Categories" asp-route-id="2">Sport</a>
                            <a id="col-btn" class="btn btn-primary" asp-action="details" asp-controller="Categories" asp-route-id="1">Kids</a>
                            <a id="col-btn" class="btn btn-primary" asp-action="details" asp-controller="Categories" asp-route-id="5">Games</a>
                            <a id="col-btn" class="btn btn-primary" asp-action="details" asp-controller="Categories" asp-route-id="6">Shopping</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <a id="col-btn" class="btn btn-primary" asp-action="Graph" asp-controller="Apps" asp-route-id="6">Statistics</a>
                            }

                        </nav>

                    </div>
                    <a class="weatherwidget-io" href="https://forecast7.com/en/32d0934d78/tel-aviv-yafo/" data-label_1="TEL AVIV" data-label_2="WEATHER" data-font="Verdana" data-icons="Climacons Animated" data-mode="Current" data-days="3" data-theme="original">Tel Aviv weather</a>
                    <script>
                        !function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js';
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, 'script', 'weatherwidget-io-js');
                    </script>
                </aside>

                <div class="col-sm-10 col-lines" id="fullBG">
                    <main role="main" class="pb-3" id="mainWindow">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </main>

    <footer class="border-top footer text-muted" id="footerStyle">
        <div class="container-fluid">
            &copy; 2021 - ColmanAppStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> -
            <a asp-area="" asp-controller="Home" asp-action="About">About Us</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>
</html>
