@model ColmanAppStore.Models.User

@{
    ViewData["Title"] = "AccessDenied";
}

<h1 id="PageHeader">Opss...</h1>

<h2 id="PageHeader">You are not authorized to access this page.</h2>

<a asp-action="Logout">Click here</a> to sigin using a different user