@model ColmanAppStore.Models.User

@{
    ViewData["Title"] = "AccessDenied";
    <link rel="stylesheet" href="/css/UserStyle.css" />
}

<h1 id="PageHeader">Oops...</h1>

<h2 id="PageHeader">You are not authorized to access this page.</h2>
<br />
<br />
<div>
    <a class="btn btn-secondary" asp-action="Logout" asp-controller="Users" id="signoutBtn">Click here to sign in to a different user</a>
</div>