@model ColmanAppStore.Models.App

@{
    ViewData["Title"] = "App create";
}

<h1 id="PageHeader">Create new App</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <h6> if you did not enter App images <a asp-action="Create" asp-controller="AppImages">Click here</a></h6>

            <h6> if you did not enter App video <a asp-action="Create" asp-controller="AppVideos">Click here</a></h6>
            <br />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo.Image" class="control-label"></label>
                <input asp-for="Logo.Image" class="form-control" />
                <span asp-validation-for="Logo.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <input type="hidden" name="DeveloperName" value="@User.Identity.Name" />

            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <select asp-for="Images" class="form-control" asp-items="ViewBag.Images"></select>
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Videos" class="control-label"></label>
                <select asp-for="Videos" class="form-control" asp-items="ViewBag.Videos"></select>
                <span asp-validation-for="Videos" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

   <!-- <a href="#" onClick="post();">Post to Facebook</a>-->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: 135748898652519,
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v11.0'
            });
         }
       /* function post() {
            FB.api(
                '/100841052251427/feed',
                'POST',
                {
                    message: "New App!!",
                    access_token: 'EAAB7doDiAWcBAM1Tp6mwgpEZCYLUtYgZBjHRhdq4dmNaQq94cuWSSHr6IouPmCaghRcQgjBo4EMfno2Q8gDnZAMOB67ThfeoCNrIZB592SCEbPZBBJTSi9qYgSVNBYZC9PRL8325Ep0NmHBoykZCqwRZBqzQfO0urZCZA2E92gw6zp7cBZC3dzfVjrY'
                },
                function (response) {
                    // Insert your code here
                    if (!response) {
                        alert('Error occured');
                    } else {
                        alert('Post ID: ' + response.id);
                    }
                }
            );
        }*/
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
