@model ColmanAppStore.Models.App

@{
    ViewData["Title"] = "Graph";
    <link rel="stylesheet" href="~/css/appStyle.css" />

}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>

    <canvas id="myChart" style="height: 370px; width: 100%; padding:20px;"></canvas>
    <script>
        const xValues = @Html.Raw(ViewData["GraphUsageX"]);
        const yValues = @Html.Raw(ViewData["GraphUsageY"]);
        var barColors = [
            "#e8c3b9",
            "#b91d47",
        ];

        new Chart("myChart", {
            type: "doughnut",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Apps usage in Colamn App Store",
                    fontSize: 40,
                    fontColor: "black"
                }
            }
        });
    </script>

</body>

<br><br>

@*@Graph 2@*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
            const map = @Html.Raw(ViewData["Graphs"]);

              window.onload = function () {
                var dataPoint = [];
                var chart = new CanvasJS.Chart("chartContainer", {
                    theme: "light1",
                    animationEnabled: true,
                    title: {
                        text: "Popular downloaded apps",
                        fontColor: "black"
                    },
                    data:
                        [{
                            type: "column",
                            dataPoints: map

                        }]
                });
                chart.render();
            }
</script>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
