@model ColmanAppStore.Models.Payment

@{
    ViewData["Title"] = "Edit payment";
}

<br />
<h1 id="PageHeader">Sorry, you can't edit completed payment</h1>

<div>
    <br />
    <a asp-action="Index">Back to all payment</a>
</div>

