
@{
    ViewData["Title"] = "About";
    <link rel="stylesheet" href="~/css/HomePage.css" />
}
<!DOCTYPE html>
<html>
<head>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    @*<link rel="stylesheet" href="/js/map.js" />*@

</head>
<body>

    <h1 id="PageHeader">
        Welcome to Colman AppStore!<br /><br />
    </h1>
    <h5 style="font-family: Arial, Helvetica, sans-serif;" class="text-center">
        Colman AppStore is more than just a storefront — it’s an innovative destination focused on bringing you amazing experiences.
        And a big part of those experiences is ensuring that the apps we offer are held to the highest standards for privacy, security, and content.
        We offer 50 apps — and we want you to feel good about using every single one of them.<br /><br /><br />
    </h5>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <h5 id="font3">
                    Our satisfied customers all over Israel:
                </h5>
                
                <div id="myMap"></div>
                <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=ArSVHkQb2Q4uCxFV8HB41H0ZCCNbXAhEWXyXUYlJpAHnTFGRTbGRxXVSp9l0aOAQ&callback=GetMap' async defer></script>

            </div>
        </div>
    </div>


</body>
</html>
<!--FB.api(
  '/100841052251427/feed',
  'POST',
  {"message":"Testing post status!"},
  function(response) {
      // Insert your code here
  }
);-->