@model Category 

@{
    ViewData["Title"] = "Category Page";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1>@Model.Name</h1>
    <section class="">
        <!-- Section: Images -->
        <section class="">
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <figure class="figure">
                            <img src="https://s3-symbol-logo.tradingview.com/facebook--600.png" class="w-50" />
                            <figcaption class="figure-caption">Facebook</figcaption>
                            <figcaption class="figure-caption">(App rating)</figcaption>
                            <figcaption class="figure-caption">(Price)</figcaption>

                            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </figure>
                    </div>
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <figure class="figure">
                            <img src="https://www.computerhope.com/jargon/i/instagram.jpg" class="w-50" />
                            <figcaption class="figure-caption">Instagram</figcaption>
                            <figcaption class="figure-caption">(App rating)</figcaption>
                            <figcaption class="figure-caption">(Price)</figcaption>

                            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </figure>
                    </div>
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <figure class="figure">
                            <img src="https://play-lh.googleusercontent.com/ZU9cSsyIJZo6Oy7HTHiEPwZg0m2Crep-d5ZrfajqtsH-qgUXSqKpNA2FpPDTn-7qA5Q" class="w-50" />
                            <figcaption class="figure-caption">Telegram</figcaption>
                            <figcaption class="figure-caption">(App rating)</figcaption>
                            <figcaption class="figure-caption">(Price)</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <figure class="figure">
                            <img src="https://upload.wikimedia.org/wikipedia/he/thumb/a/a3/Twitter_bird_logo.svg/1200px-Twitter_bird_logo.svg.png" class="w-50" />
                            <figcaption class="figure-caption">Twitter</figcaption>
                            <figcaption class="figure-caption">(App rating)</figcaption>
                            <figcaption class="figure-caption">(Price)</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
