@{
    ViewData["Title"] = "Privacy Policy";
    <link rel="stylesheet" href="~/css/HomePage.css" />
}

<div>
    <h1 id="PageHeader">Privacy Policy</h1>
    <br />
    <h3><a href="https://www.freeprivacypolicy.com/live/ff8638cd-0e24-45f8-aa2f-3b3163160ed9/">Click here to see our privacy policy</a></h3>
    <br />
    <h5 style="font-family: Arial, Helvetica, sans-serif;" >
        If you have any questions about this Privacy Policy, You can contact us:
        <br />
        * By email: Colmanappstore@gmail.com<br />
    </h5>


</div>
