body {
}

/*<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Days+One&family=Indie+Flower&display=swap" rel="stylesheet">*/

/*----------------------Index----------------------*/
#CategoryHeader {
    font-family: 'Days One', sans-serif;
    text-align:  right;
    padding-right: 75px;

    color: black;
    margin: 15px;
}


#CardStyle {

    margin: 10px;
    text-align: center;
    width: auto;
    height: auto;
    background-color: #c2d4dd;
}

#CardHeader {
    font-family: 'Nunito', sans-serif;
    font-size: large;
    text-align: center;
}

#CardImg {

    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

#CardBtn {
    margin: auto;
    display: table;
}

#searchprice{
    
    padding:17px; 

}

/*----------------------Details----------------------*/
#CategoryTitle {
    font-family: 'Days One', sans-serif;
    text-align: center;
    margin: 15px;
}

#AppLogo {
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: 75px;
    margin-top: 15px;
    border-radius: 10%;
}

#AppTitle {
    font-family: cursive;
    font-weight: bold;
    font-size: large;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#AppBtn {
    margin-bottom: 10px;
}

