

#card-home {
    width: auto;
    height: auto;
    border-color: #D3E0EA;
    border-width: 5px;
}

#card-img-home {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
    margin-top: 10px;
}

/*
.card-slide{

    white-space:nowrap;
    overflow-x:scroll;
    display:block;
}
.slide{
    height:100%;
    width:100%;
    animation: scrolling 13s ease-in-out infinite alternate;

}
@keyframes scrolling{
    0% {transform:translateX(0);}
    10%{transform:translateX(0);}
    90%{transform:translateX(-400%);}
    100%{transform:translateX(-400%);}
}

.slide:hover{
    animation-play-state:paused;
}
*/

