* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #E1F0FA;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

main {
    min-height: 500px;
}

html {
    position: relative;
    font-size: 14px;
}

#navBarStyle {
    padding: unset;
}


#PageHeader {
    font-family: cursive;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#subTitleHeader {
    text-align: center;
}


.row {
    width: 100%;
    height: 100%;
}

.btn_signup {
    margin-left: 5px;
}

.btn_search {
    margin-left: 2px;
}

.btn_signup {
    margin-left: 5px;
}

.col-navbar {
    background-color: #D3E0EA;
}

#col-btn {
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: medium;
}

.col-lines {
    background-color: #F6F5F5;
}

.nav {
    width: 100%;
    height: 100%;
}


.btn_categories {
    height: 30px;
    text-align: center;
    text-decoration: underline;
}

#query {
    font-family: 'Nunito', sans-serif;
    font-size: medium;
}

#font {
    font-family: 'Nunito', sans-serif;
    font-size: medium;
}

.card {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    max-width: 600px;
}

.footer {
    position: absolute;
    background-color: #E1F0FA;
    line-height: 60px;
    width: 100%;
}


.carousel-control-prev,
.carousel-control-next {
    height: 100px;
    width: 100px;
    outline: black;
    color: black;
}

body {
    margin-top: 20px;
}


.weatherwidget-io {
    width: auto;
    /*position: sticky;*/

  
}


.weatherwidget-io {
    width: auto;
    /*position: sticky;*/
}

#mainWindow {
    padding: inherit;
}

/*#fullBG {
    padding: 0px;
}*/

/*----------------------------Dark mode-----------------------------------------*/
.dark {
    background-color: #222222bf;
    color: #e6e6e6;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    float: right;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    text-align: right;
}

    .theme-switch input {
        display: none;
    }

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

    .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
    }

input:checked + .slider {
    background-color: #66bb6a;
}

    input:checked + .slider:before {
        transform: translateX(26px);
    }

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

#labelMode {
    margin: 10px;
}
