body {
}

#paymentHeader {
    font-family: 'Days One', sans-serif;
    text-align: center;
    margin: 15px;
}

#cardDetails {
    width: 25rem;
    margin: auto;
}

#PaymentMethodHeader {
    font-family: 'Days One', sans-serif;
    text-align: right;
    padding-right: 70px;
    margin: 15px;
}

#searchPaymentMethod {
    padding: 15px;
}