
#UserHeader {

    font-family: 'Days One', sans-serif;
    text-align: center;
    margin: 15px;
}

#Titles {
    font-family: 'Nunito', sans-serif;
    font-size: large;
    text-align: center;
}


