
#UserHeader {
    font-family: 'Days One', sans-serif;
    text-align: center;
    margin: 15px;
}

#Titles {
    font-family: 'Nunito', sans-serif;
    font-size: large;
    text-align: center;
}

#text-center {
    text-align: center;
}

#UserSearchHeader {
    font-family: 'Days One', sans-serif;
    text-align: right;
    padding-right: 100px;
    margin: 15px;
}

#searchUser {
    padding-top: 25px;
}

#signoutBtn {
    text-align: center;
    margin: auto;
    display: table;
}
